# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
.vite/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
instance/

# Environment variables
.env
.env.*
backend/venv/


# Build / DB
*.sqlite3
*.db

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Ignorar cachés de Python
backend/__pycache__/
**/__pycache__/

# Ignorar carpeta de configuración local de Flask
backend/instance/

# Ignorar entorno virtual
backend/venv/
