.body {
  padding-top: 10px; /* Ajustalo según el alto del header */
  
}
.bg-red{
  background-color: #bb3e1c;
}

.chaplin {
  height: 80px;
  width: auto;
  margin-right: 10px;
}


  .titulo {
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px; /* Estira un poco las letras */
    
  }
  
  .acceder {
    margin-left: -80px;
  }

  .inicio-sesion {
    margin-left: 180px;
  }